body {
    background-color: #98FB98;
}

/* Área de trabalho */

#profile{
    border: 3px solid red;
}

#profile .photoProfile{
    width: 50%;
    border-radius: 50%;
}

#list{
    border: 3px solid blue;
}

#bills {
    border: 3px solid black;
}